.profile__name {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(294px + 286px - 18px * 2 - 24px);
}

@media screen and (max-width: 960px) {
    .profile__name {
        font-size: 27px;
        line-height: normal;
        max-width: calc(282px * 2 + 17px - 127px - 30px * 2 - 150px - 18px - 18px); /* Высчитываю, сколько остается места на текст */
    }
}

@media screen and (max-width: 640px) {
    .profile__name {
        margin-top: 26px;
        text-align: center;
        max-width: calc(282px - 10px * 2 - 18px * 2);
    }
}