.post__delete-button {
    position: absolute;
    right: 20px;
    top: 20px;
    background-image: url(../../../images/delete_Button.svg);
    width: 18px;
    height: 19px;
    background-color: transparent;
    border: 0px;
    padding: 0;
    cursor: pointer;
}

.post__delete-button:hover {
    opacity: 0.6;
}