.header__logo {
    display: block;
    max-width: 142px;
    max-height: 33px;
    object-fit: contain;
    object-position: left top;
}

@media screen and (max-width: 640px) {
    .header__logo {
        max-width: 103px;
        max-height: 24px;
        padding-left: 27px;
        max-width: 282px;
    }
}