/* Блок Чего мы там не видели*/

.statistics {
    padding-top: 92px;
    margin: 0 auto;
    max-width: 984px;
}

@media screen and (max-width: 1024px) {
    .statistics {
        padding: 92px 48px 0;
    }
}

@media screen and (max-width: 768px) {
    .statistics {
        padding: 88px 24px 0;
    }
}

@media screen and (max-width: 425px) {
    .statistics {
        padding: 64px 16px 0;
    }
}