.popup__header {
    color: #000;
    text-align: left;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    margin: 0;
}

@media screen and (max-width: 640px) {
    .popup__header {
        font-size: 18px;
        line-height: normal;
    }
}