.profile {
    display: flex;
    margin: 36px auto 0;
    align-items: center;
    justify-content: space-between;
    max-width: 880px;
}

@media screen and (max-width: 960px) {
    .profile {
        max-width: 581px;
    }
}

@media screen and (max-width: 640px) {
    .profile {
        flex-direction: column;
        margin: 38px auto 0;
    }
}