.popup__close-button {
    background-image: url(../../../images/Close_Icon.svg);
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: 0px;
    padding: 0;
    position: absolute;
    right: -40px;
    top: -40px;
}

.popup__close-button:hover {
    opacity: 60%;
}

@media screen and (max-width: 810px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        background-size: 20px;
        right: 0;
        top: -36px;
    }
}