.header {
    padding: 45px 0 41px;
    margin: 0 auto;
    border-bottom: 1px solid #545454;
    max-width: 880px;
}

@media screen and (max-width: 960px) {
    .header {
        max-width: 581px;
    }
}

@media screen and (max-width: 640px) {
    .header {
        max-width: 282px;
        padding: 28px 0 31px;
    }
}