/* Блок место */

.place {
    display: grid;
    grid-template-columns: minmax(min-content, 460px) minmax(min-content, 484px);
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    justify-content: center;
    row-gap: 48px;
    column-gap: 40px;
    padding: 80px 148px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
    .place {
        grid-template-columns: minmax(min-content, 440px) minmax(min-content, 456px);
        column-gap: 32px;
        padding: 80px 48px 0;
    }
}

@media screen and (max-width: 830px) {
    .place {
        grid-template-columns: minmax(min-content, 340px) minmax(min-content, 352px);
        column-gap: 28px;
        padding: 73px 24px 0;
    }
}

@media screen and (max-width: 560px) {
    .place {
        grid-template-columns: repeat(1, minmax(min-content, 320px));
        grid-template-rows: repeat(auto-fit, minmax(min-content, max-content));
        row-gap: 32px;
        padding: 50px 0 0;
    }
}

.place:first-child {
    padding-top: 91px;
}

@media screen and (max-width: 1200px) {
    .place:first-child {
        padding-top: 92px;
    }
}

@media screen and (max-width: 830px) {
    .place:first-child {
        padding-top: 88px;
    }
}

@media screen and (max-width: 560px) {
    .place:first-child {
        padding-top: 64px;
    }
}