.post__like-button {
    background-image: url(../../../images/heart.svg);
    width: 22px;
    height: 19px;
    background-color: transparent;
    border: 0px;
    padding: 0;
    cursor: pointer;
}

.post__like-button:hover {
    opacity: 50%;
}
